<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation targetFramework="4.7.2" debug="true"/>
  </system.web>
  
  <appSettings xdt:Transform="RemoveAttributes(file)"/>

  <appSettings configBuilders="AzureKeyVault" xdt:Transform="SetAttributes">
    <add key="appSettings:connectionStrings:DevBridgeDB"
         value ="dummy"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="appSettings:emailPassword"
         value="dummy"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="appSettings:emailName"
         value="devbridgeapitest@gmail.com"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="appSettings:emailHost"
         value="smtp.gmail.com"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="appSettings:websiteUrl"
         value="https://icss-devbridge-calendar-webpage20200528215145.azurewebsites.net"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace"/>
  </system.web>

</configuration>
